{{!< default}}
<div class="gh-page">
    <div class="gh-container">
        <div class="justify-center flex w-full">
            <h1 class="text-black"> {{@site.title}} </h1>
        </div>


    </div>
</div>